<div ng-show="$parent.isEditMode">
  <input type="url" placeholder="Must be a link from flashcardexchange.com" ng-model="url"/>
  <div class="full-width-button med blue-dark" ng-click="addCardSet()">
    Add Set
  </div>
</div>
<div class="row collapse" ng-show="!$parent.isEditMode && cards.length > 0">
  <div class="flash-card front small-12 columns"
       ng-show="showing_side === 1"
    >
    <div class="inner">
      <div class="content">
        {{card.steps[0].content}} 
      </div>
    </div>
  </div>
  <div class="flash-card back small-12 columns"
     ng-show="showing_side === 2"
    >
    <div class="inner">
      <div class="content">
        {{card.steps[1].content}} 
      </div>
    </div>
  </div>
</div>
<div class="row collapse" ng-show="!$parent.isEditMode && cards.length > 0">
  <div class="small-4 columns">
    <a class="full-width-button med blue-dark"
       ng-click="flip()"
      >Flip it</a>
  </div>
  <div class="small-4 columns">
    <a class="full-width-button med green-dark"
      ng-click="got_it()">Got it</a>
  </div>
  <div class="small-4 columns">
    <a class="full-width-button med red-dark" ng-click="muffed_it()">Sheeeeeit</a>
  </div>
</div>
