<div style="position: relative; z-index: 1;">
<label for="j-ms-score-{{ms.id}}" class="m-row-i-label">{{ms.name}}</label>

<input 
  style="opacity: 0.9"
  class="m-row-i-input-narrow l-f-right js-in-num" 
  id="j-ms-score-{{ms.id}}" 
  type="number" 
  ng-model="ms.score"
  ng-show="ms.score_type !== 'boolean'"
  />

<div 
  class="btn btn-positive m-row-i-input-narrow l-f-right {{ms.score===0 && 'is-opaque' || ''}}" 
  ng-show="ms.score_type === 'boolean'"
  ng-click="ms.score = 1 - ms.score"
  >
  <i class="foundicon-checkmark" ></i>
</div>

<div 
  ng-show="ms.score_type !== 'boolean'"
  class="m-row-i--ms-motivator"
  >
    <h4 class="x-small-heading">Beat</h4>
    {{last_score}}
</div>
<div 
  ng-show="ms.score_type === 'boolean'"
  class="m-row-i--ms-motivator"
  >
  <h4 class="x-small-heading">Streak</h4>
  {{ms.streak}}
</div>
</div>
<div line-chart class="metric_score_graph" style="opacity:0.6; height: 35px; width: 80%;"
  ng-model="ms" 
  flt-Linechartoptions="
    {
    HtmlText: true,
    colors: ['#3c3e3e'],
    grid: {
      outline: '',
      verticalLines: false,
      horizontalLines: false,
      tickColor: '2c2e2e'
    },
    xaxis: {
      showLabels: false,
      mode: 'time',
      timeUnit: 'second',
      labelsAngle: 45
    },
    yaxis: {
      showLabels: false,
      min: 0
    },
    title: ms.metric.name
    }
    " >
</div>
