@mixin btn($bg-color) {
  color: $body-font-color;
  height: $standard-height;
  line-height: emCalc(34px);
  padding: 0 emCalc(10px);
  text-decoration: none;
  text-align: center;
  font-size: emCalc(18px);
  font-weight: bold;
  background: $bg-color;
  border-left: solid 1px tint($bg-color, 4%);
  border-top: solid 1px tint($bg-color, 4%);
  border-bottom: solid 4px tint($bg-color, 8%);
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
  &.btn-is-selected {
    background: shade($bg-color, 30%);
    border-bottom: solid 4px shade($bg-color, 10%);
  }
  &:hover {
    cursor: pointer;
    border-bottom: solid 4px tint($bg-color, 16%);
  }
  &:active {
    color: tint($bg-color, 80%);
    border-bottom: solid 4px tint($bg-color, 22%);
  }
}

.btn-boring {
  @include btn($gray-darkish);
}

.btn-boring-darker {
  @include btn(shade($gray-darkish, 20%));
}

.btn-neutral {
  @include btn($blue-med);
}

.btn-positive {
  @include btn($green-dark);
}

.btn-negative {
  @include btn($red-dark)
}

a.btn {
  display: inline-block;
}

.btn.btn-nav {
  display: block;
  padding: 0 emCalc(18px);
}

.btn-icon-text {
  line-height: emCalc(32px);
  i {
    font-size: 0.7em;
  }
  span {
    display: inline-block;
  }
}
