@import 'bourbon';
@import 'neat';
* {
  @include box-sizing(border-box);
}
html {
       overflow-y: scroll;
}

nav {
  a, span {
    float: left;
  }
  span {
    display: block;
    height: $standard-height;
    padding: 0 emCalc(10px);
    font-size: emCalc(20px);
    line-height: $standard-height;
  }
}

.l-f-right {
  float: right;
}

.l-f-left {
  float: left;
}

.l-ul-unstyled {
  margin: 0;
  padding: 0;
  list-style: none;
}

.l-container {
  //For > mobile
  @include media(min-width 480px, 12) {
    width: 480px; 
    margin: 0 auto;
  }
  //For mobile
  width: 100%;
  //Generic
  padding: emCalc(16px) emCalc(10px);
}

.l-row {
  @include clearfix;
}

.l-widget, nav {
  margin-bottom: emCalc(16px);
}

.g-third {
  float: left;
  width: 33.33333%;
}
