@import "variables";
@import "foundation/components/global";
@import "foundation/components/grid";
@import "foundation/components/visibility";
@import "foundation/components/block-grid";
@import "foundation/components/type";
@import "foundation/components/buttons";
@import "foundation/components/forms";
@import "foundation/components/custom-forms";
@import "foundation/components/button-groups";
@import "foundation/components/dropdown-buttons";
@import "foundation/components/split-buttons";
@import "foundation/components/flex-video";
@import "foundation/components/section";
@import "foundation/components/top-bar";
@import "foundation/components/orbit";
@import "foundation/components/reveal";
@import "foundation/components/joyride";
@import "foundation/components/clearing";
@import "foundation/components/alert-boxes";
@import "foundation/components/breadcrumbs";
@import "foundation/components/keystrokes";
@import "foundation/components/labels";
@import "foundation/components/inline-lists";
@import "foundation/components/pagination";
@import "foundation/components/panels";
@import "foundation/components/pricing-tables";
@import "foundation/components/progress-bars";
@import "foundation/components/side-nav";
@import "foundation/components/sub-nav";
@import "foundation/components/switch";
@import "foundation/components/magellan";
@import "foundation/components/tables";
@import "foundation/components/thumbs";
@import "foundation/components/tooltips";
@import "foundation/components/dropdown";
@import "general_foundicons";
@import "general_foundicons_ie7";

@font-face {
  font-family: 'GeneralFoundicons';
  src: url('/fonts/general_foundicons.eot');
  src: url('/fonts/general_foundicons.eot?#iefix') format('embedded-opentype'),
       url('/fonts/general_foundicons.woff') format('woff'),
       url('/fonts/general_foundicons.ttf') format('truetype'),
       url('/fonts/general_foundicons.svg#[set]Foundicons') format('svg');
  font-weight: normal;
  font-style: normal;
}

html {
       overflow-y: scroll;
}

body {
  font-family: "Rambla", sans-serif;
}

small {
  font-size: 70%;
}
//Zurb settings not working for label
label {
  color: $body-font-color;
  font-weight: bold;
  font-size: emCalc(16px);
}

label.inline.label-2-rows {
  margin-top: emCalc(-8px);
}
.inline-checkbox {
  input[type=checkbox] {
    margin-right: emCalc(6px);
    margin-top: emCalc(3px);
  }
  label {
    font-weight: normal;
  }
} 

.gray-faded {
  color: darken($secondary-color, 30%);
}

.wrapper {
  section.row {
    margin-bottom: emCalc(16px);
  }
  nav.row {
    padding: emCalc(16px) 0;
    background: #131314;
  }
}

.intro {
  margin-top: -8px;
  padding: emCalc(12px) 0 0 0;
  background: asset-url("sunrise.jpg", image) left center no-repeat;
  text-align: center;
  h1 { font-weight: bold; }
  hr { 
    color: $gray-med-dark;
  }
}
.features {
  .columns {
    text-align: center;
  }
}

nav .date {
  padding-top: emCalc(8px);
  font-weight: bold;
}
.bottom-margin {
  margin-bottom: emCalc(8px);
}
.ui-state-highlight {
  height: 57px; 
  margin-bottom: emCalc(8px);
  border-top: dashed 1px #666;
  border-bottom: dashed 1px #666;
}
.opaque {
  opacity: 0.6;
}
.full-width-button {
  display: block;
  &.blue-dark {
    @include button(emCalc(8px), $blue-med, 0, true, false, false);
    border-bottom: solid 4px lighten($blue-med, 11%);
    &.selected {
      @include button(emCalc(8px), darken($blue-med, 8%), 0, true, false, false);
      font-size: emCalc(18px);
      margin-bottom: emCalc(4px);
      padding-bottom: emCalc(4px);
      border-bottom: solid 4px lighten($blue-med, 3%);
      border-top: none;
    }
  }
  &.green-dark {
    @include button(emCalc(8px), $green-dark, 0, true, false, false);
    border-bottom: solid 4px lighten($green-dark, 4%);
    &.selected {
      @include button(emCalc(8px), darken($green-dark, 8%), 0, true, false, false);
      font-size: emCalc(18px);
      margin-bottom: emCalc(4px);
      padding-bottom: emCalc(4px);
      border-bottom: solid 4px lighten($green-dark, 3%);
      border-top: none;
    }
  }
  &.red-dark {
    @include button(emCalc(8px), $red-dark, 0, true, false, false);
    border-bottom: solid 4px lighten($red-dark, 4%);
    &.selected {
      @include button(emCalc(8px), darken($red-dark, 8%), 0, true, false, false);
      font-size: emCalc(18px);
      margin-bottom: emCalc(4px);
      padding-bottom: emCalc(4px);
      border-bottom: solid 4px lighten($red-dark, 3%);
      border-top: none;
    }
  }
  &.gray-darkish {
    @include button(emCalc(8px), $gray-darkish, 0, true, false, false);
    border-bottom: solid 4px lighten($gray-darkish, 4%);
    &.selected {
      @include button(emCalc(8px), darken($gray-darkish, 8%), 0, true, false, false);
      font-size: emCalc(18px);
      margin-bottom: emCalc(4px);
      padding-bottom: emCalc(4px);
      border: none;
      border-bottom: solid 4px lighten($gray-darkish, 3%);
    }
  }
}
.full-width-button.med {
  font-size: emCalc(18px);
  margin-bottom: emCalc(4px);
  padding-bottom: emCalc(4px);
  border-right: none;
  border-left: none;
  border-top: none;
  &.last {
    margin-bottom: 0;
  }
}

.full-width-button.in-row {
  font-size: emCalc(18px);
  margin-bottom: emCalc(4px);
  padding-bottom: emCalc(4px);
  width: 60px;
  float: right;
  border-right: none;
  border-left: none;
  border-top: none;
  &.last {
    margin-bottom: 0;
  }
}
.button-text-icon {
  i {
    font-size: 1em;
    display: inline-block;
    line-height: emCalc(9px);
  }
}

.move-button {
  margin-top: 5px;
  padding-left: emCalc(8px);
  cursor: pointer;
}

.yes-no-button, .remove-button {
  width: 60px;
  float: right;
}


.padded-row, .row .row .padded-row{
  padding: emCalc(8px);
  margin-bottom: emCalc(7px);
  & input {
    margin: 0;
  }
  & label {
    padding-left: emCalc(8px);
    margin: 0;
    cursor: default;
  }
  &.gray-darkish {
    background: $gray-darkish;
    border-bottom: solid 4px lighten($gray-darkish, 5%);
  }
}

.metrics {
  input[type=number] {
    width: 60px;
  }
}
.prev_score {
  width: 12.5%;
  float: left;
  border-bottom: solid 1px #000;
  margin-bottom: emCalc(8px);
  padding-bottom: emCalc(4px);
}
.boolean-score {
  .full-width-button {
    margin-bottom: 0;
  }
}

.metric_score_graph {
  margin-bottom: emCalc(48px);
  .loading-gif {
    position: relative;
    left: 49%;
    top: 49%;
  }
  .data-msg {
    position: relative;
    top: 49%;
    text-align: center;
  }
}

.flotr-grid-label-y {
  font-size: 12px;
}

.flotr-grid-label-x {
  -webkit-transform: rotate(296deg);
  -moz-transform: rotate(296deg);
  -o-transform: rotate(296deg);
  writing-mode: lr-tb;
  padding-top: 24px;
}

.flash-cards {
  background: $gray-darkish;
}

.flash-card {
  height: 115px;
  padding: emCalc(16px);
  display: table;
  .inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
}

@import "animations";
