.intro
  %h1 täglich
  %h4
    %em better every day

  %hr
.row.features
  .small-7.columns
    %h5 Set up some stats to track.
    =image_tag 'screen2.png'
  .small-5.columns
    %h5 Oooh pretty graphs.
    =image_tag 'screen1.png', style: "height: 146px"
%hr
