!!! 5
%html
  %head
    <link href='http://fonts.googleapis.com/css?family=Rambla:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    %meta{ charset: 'utf-8' }
    %title= "Taglich - You can do it erry day."
    <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    = csrf_meta_tag
    = stylesheet_link_tag "application", media: "all"
    =# javascript_include_tag "application"

  %body
    .container
      .row
        .large-6.large-offset-3.columns.wrapper
          = yield 

